.texto-quantidade{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #292D32;
}

.texto-avaliacoes{
    margin-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #292D32;
}