.filtros{
    width:100% !important;
    display: flex;
    flex-direction: row;
    border: 1px solid #F0EBEB !important;
    height:200px;
}

.seletores{
    margin-top: 1%;
    margin-left: 5%;
}

.p-dropdown {
    width: 120%;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    user-select: none;
}


.btn-seletores{
    margin-left: 22px !important;
    margin-top: 140px;
    height: 30px;
}

@media screen and (min-width: 1340px) {
    .seletores {
        margin-left:9.2%;
    }
    .btn-seletores{
        margin-left: -66px !important;
    }
}

/* Media query para telas ainda maiores */
@media screen and (min-width: 2000px) {
    .seletores {
        margin-left: 8.2%;
        align-items: center;
    }
    .p-dropdown {
        width: 180%;
        display: inline-flex;
        cursor: pointer;
        position: relative;
        user-select: none;
    }
    .btn-seletores{
        margin-left: 22px !important;
        margin-top: 140px;
        height: 30px;
    }
}