#header {
    position: fixed;
    width: 350px;
    }

    #header .pro-sidebar {
    height: 100vh;
    }  

    #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
    }

    #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
    }

    #header .logo {
    padding: 20px;
    }

    .logotext > img {
    margin-top: 40px;
    margin-left: 20px;
    height: 60px;
    width: 300px;
    }

    @media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
    }

    .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
        margin-right: 10px;
        font-size: 30px !important;
        width: 35px;
        min-width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        background-color: transparent !important;
    }
    
    .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
        border: none !important;
    }
    
    .pro-sidebar .pro-menu a:hover {
        color: #fff !important;
    }

/* Estilos do Menu */
.dashboard{
    font-size: 24px !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    color:#00B4F1;
}

.dashboard-text{
    color:#00B4F1 !important;
}

.users{
    font-size: 24px !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    color:#BADA55;
}

.users-text{
    color:#BADA55 !important;
}

.process{
    font-size: 24px !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    color:#FFEF75;
    
}

.process-text{
    color:#FFEF75  !important;    
}

