
.fora{
    border: 1px solid #d9d9d9;
    border-top-left-radius: 10px;
}

/* Estilos para as células da tabela */
.datatable-scroll-demo .p-datatable tbody tr td {
    border-radius: 10;
}

/* Estilos para o cabeçalho da tabela */
.datatable-scroll-demo .p-datatable thead th {
    background-color: #292D32; /* Cor de fundo para o cabeçalho da tabela */
    color: #FFFFFF;
}

.datatable-scroll-demo .p-datatable thead th:first-child{
    border-top-left-radius: 10px;
}
.datatable-scroll-demo .p-datatable thead th:last-child{
    border-top-right-radius: 10px;
}

.title-process-processamento{
    font-size: 30px;
    margin-bottom: 40px;
    display: flex;
    align-self: flex-start !important;
    font-weight: bold;
    margin-top: 80px;
}

.card-table{
    margin-bottom: 50px;
}